In [10]:
import pandas as pd
import numpy as np

In [11]:
clientes_data = r'C:\Users\punto\Desktop\Bienestar_animal_ibague\Bienestar_animal_ibague\Clientes.csv'

In [12]:
clientes = pd.read_csv(clientes_data)
print (clientes)

         #                 ID                   Nombre           Telefono  \
0        1             000000                  VANESSA                NaN
1        2               0097              YURI GUZMAN                NaN
2        3            0886963  JHOANA  MARIA RODRIGUEZ         3237210662
3        4                  1               Nura Amaya         3208354373
4        5         1000001500      David Matias Zabala         3186967130
...    ...                ...                      ...                ...
9863  9864            9873414    LEONARDO FAVIO TORRES         3176426219
9864  9865          987456321           Arelis  Tapora         3013561244
9865  9866               olkp                       Ko                NaN
9866  9867  P530-240-66-874-0            Fátima Pineda  +1 (305) 922-0949
9867  9868         particular          Daniela Santana         3183823376

                                       Direccion                 Correo  \
0                                            NaN                    NaN
1                                            NaN                    NaN
2                               CLL 18  N 3 /119                    NaN
3                                            NaN                    NaN
4                                   MZ E CASA 20                    NaN
...                                          ...                    ...
9863                                  CR9 N79/00                    NaN
9864                                      HONDA                     NaN
9865                                         NaN                    NaN
9866  1411 NW 116 TH ST MIAMI FLORIDA 33167-3215  Britney0912@yahoo.con
9867                CRA   4 ESTADIO NUMERO 39-52  dichilatras@ut.edu.co

             Whatsapp
0                 NaN
1        573245652587
2        573237210662
3          3208354373
4        573186967130
...               ...
9863     573176426219
9864     573013561244
9865              NaN
9866  +1 305-922-0949
9867  +57 318 3823376

[9868 rows x 7 columns]

In [13]:
missing_data = clientes.isna()
print(missing_data)

          #     ID  Nombre  Telefono  Direccion  Correo  Whatsapp
0     False  False   False      True       True    True      True
1     False  False   False      True       True    True     False
2     False  False   False     False      False    True     False
3     False  False   False     False       True    True     False
4     False  False   False     False      False    True     False
...     ...    ...     ...       ...        ...     ...       ...
9863  False  False   False     False      False    True     False
9864  False  False   False     False      False    True     False
9865  False  False   False      True       True    True      True
9866  False  False   False     False      False   False     False
9867  False  False   False     False      False   False     False

[9868 rows x 7 columns]

In [14]:
missing_data_count = clientes.isna().sum()
print('Conteo de datos faltantes por columna:\n',missing_data_count )

Conteo de datos faltantes por columna:
 #               0
ID              0
Nombre          9
Telefono      153
Direccion     350
Correo       9574
Whatsapp      159
dtype: int64

In [15]:
#import pandas as pd

# Suponiendo que ya tienes tu DataFrame 'clientes' cargado

# 1. Crear una máscara booleana para identificar las filas donde 'Nombre' es nulo
filas_nombre_nulo = clientes['Nombre'].isna()

# 2. Utilizar la máscara booleana para seleccionar las filas del DataFrame
datos_faltantes_nombre = clientes[filas_nombre_nulo]

# 3. Imprimir el DataFrame resultante con las filas donde 'Nombre' es nulo
print("Filas donde la columna 'Nombre' tiene valores faltantes:\n", datos_faltantes_nombre)

Filas donde la columna 'Nombre' tiene valores faltantes:
          #          ID Nombre    Telefono Direccion Correo      Whatsapp
992    993  1007385136    NaN         NaN       NaN    NaN           NaN
2218  2219   110663219    NaN         NaN       NaN    NaN           NaN
2438  2439     1110118    NaN         NaN       NaN    NaN           NaN
3248  3249  1110503524    NaN         NaN       NaN    NaN           NaN
6115  6116   285588281    NaN         NaN       NaN    NaN           NaN
6465  6466  3142640021    NaN  3142640021       NaN    NaN  573142640021
7173  7174   383600778    NaN         NaN       NaN    NaN           NaN
8099  8100    65634064    NaN         NaN       NaN    NaN           NaN
8838  8839    65766101    NaN         NaN       NaN    NaN           NaN